<form autocomplete="off" id="tasks">
{{#each (get "tasks")}}

 <div class="task-item align-items-center {{#unless @first}}border-t-1{{/unless}} bgc-h-green-l3 brc-secondary-l3 px-2 d-flex pos-rel">
    <label>
        <input type="checkbox" class="align-middle input-sm ml-2 mr-25" id="task-item-{{@index}}" />
    </label>

    <label class="flex-grow-1 mr-3 py-3" for="task-item-{{@index}}">
        <span class="align-middle">{{title}}</span>
        {{#if urgent}}<i class="fa fa-exclamation-circle text-danger-m1 opacity-1 text-110 align-middle ml-1"></i>{{/if}}
    </label>

    {{#if urgent}}
    <span class="badge bgc-danger-l3 border-r-2 radius-r-0 brc-danger-m2 text-danger-d1 ml-1 mr-2">
        urgent
    </span>
    {{/if}}

    {{#if medium}}
    <span class="badge bgc-success-l3 border-r-2 radius-r-0 brc-success-m2 text-dark-tp3 ml-1 mr-2">
        normal
    </span>
    {{/if}}

    {{#if low}}
    <span class="badge bgc-blue-l3 border-r-2 radius-r-0 brc-blue-m2 text-dark-tp3 ml-1 mr-2">
        low
    </span>
    {{/if}}
 </div>
{{/each}}

</form>