<nav class="navbar navbar-sm navbar-expand-lg navbar-fixed navbar-white">
 <div class="navbar-inner brc-grey-l2 shadow-md">

    <!-- this button collapses/expands sidebar in desktop mode -->
    <button type="button" class="btn btn-burger align-self-center d-none d-xl-flex mx-2 bgc-h-blue-l3" data-toggle="sidebar" data-target="#sidebar" aria-controls="sidebar" aria-expanded="true" aria-label="Toggle sidebar">
        <span class="bars text-default"></span>
    </button>

    <div class="d-flex h-100 align-items-center justify-content-xl-between">
        <!-- this button shows/hides sidebar in mobile mode -->
        <button type="button" class="btn btn-burger static burger-arrowed collapsed d-flex d-xl-none ml-2 bgc-h-blue-l3" data-toggle-mobile="sidebar" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle sidebar">
            <span class="bars text-default"></span>
        </button>

        <a class="navbar-brand d-xl-none ml-2 text-grey-d2" href="#">
            ACE App
        </a>

        <div class="d-none d-xl-inline-block">
            <span class="text-secondary-d2">Starter Template</span>
        </div>
    </div>


    <!-- .navbar-menu toggler -->
    <button class="navbar-toggler mx-1 p-25" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navbar menu">
        <i class="fa fa-user text-primary"></i>
    </button>


    <div class="ml-auto mr-lg-2 navbar-menu collapse navbar-collapse navbar-backdrop" id="navbarMenu">
      <div class="navbar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link dropdown-toggle mr-1px" href="#">
                    Link
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link dropdown-toggle pl-lg-3 pr-lg-4" href="#">
                    <i class="fa fa-bell mr-lg-2"></i>
                    <span class="badge badge-info badge-pill">3</span>
                </a>
            </li>
        </ul>
      </div>
   </div><!-- .navbar-menu -->


 </div><!-- .navbar-inner -->
</nav>