<div class="sidebar-section-item m-0 fadeable-left fadeable-top">
    <div class="fadeinable">
        <div class="py-2 mx-1 border-b-1 brc-white-tp10" id="sidebar-header-brand1">
            <a class="navbar-brand text-140">
                <i class="fa fa-leaf text-success-l2"></i>
            </a>
        </div>
    </div>

    <div class="fadeable w-100 ">
        <div class="py-1 py-xl-2 text-center mx-3 border-b-1 brc-white-tp10" id="sidebar-header-brand2">
            <a class="navbar-brand ml-n2 text-140 text-white" href="#">
                <i class="fa fa-leaf mr-1 text-success-l1"></i>
                ACE <span>App</span>
            </a>
        </div>
    </div>
</div><!-- /.sidebar-section-item  -->